#wb_header { background: transparent none repeat scroll left top; }
#wb_main { background: transparent none repeat scroll left top; padding-bottom: 50px; }
#wb_footer { background: transparent none repeat scroll left top; }
body { background: #242324 url("../img/photo3.jpg") repeat-y scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/be3a40a9d8458ff2e7967eca62804159.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 100%; min-height: 100%; }
.root { box-sizing: border-box; width: 100%; }
.root > div { padding-left: 15px; padding-right: 15px; }
#wb_cs_row_12 { padding-left: 0; padding-right: 0; padding-top: 15px; margin-top: 0px; float: left; padding-bottom: 15px; }
#wb_cs_col_13 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; max-width: 40px; min-width: 40px; }
#wb_cs_col_13:first-child { margin-top: 0px; }
#wb_element_instance9 { z-index: 535; min-height: 40px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance9 .btn-collapser { display: inline-block; margin-top: 5.5px; background-color: #ededed; border-color: #ffffff; }
#wb_element_instance9.collapse-expanded > ul { position: fixed; left: 0px; width: 100%; display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance9 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance9 .btn-collapser:hover { background-color: #ededed; border-color: #ff0900; }
#wb_element_instance9 .btn-collapser:hover > .icon-bar { background-color: #ff0900; }
#wb_element_instance9 ul { background: #ededed none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance9 > ul { display: none; }
#wb_element_instance9.collapse-expanded > ul > li { display: block; }
#wb_element_instance9.collapse-expanded li > ul { position: static; }
#wb_element_instance9.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance9.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance9, #wb_element_instance9 ul { text-align: right; }
#wb_element_instance9 ul ul { background: #ffe100 none repeat scroll left top; }
#wb_element_instance9 li { margin: 0px 10px 0px 10px; }
#wb_element_instance9 li a { text-transform: none; border: 0px none #000000; padding: 10px 5px 10px 5px; font: normal normal 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance9 li.over > a, #wb_element_instance9 li:focus > a { border: 0px none #000000; font: normal normal 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ff0900; line-height: 20px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance9 li.active > a { border: 0px none #000000; font: normal normal 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ff0900; line-height: 20px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance9:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance9:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance9:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_cs_col_15 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_15:first-child { margin-top: 0; }
#wb_element_instance11 { z-index: 524; height: auto; min-height: 1px; min-width: 16px; max-width: 32px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance11 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_col_14 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_14:first-child { margin-top: 0; }
#wb_element_instance10 { z-index: 525; height: auto; min-height: 1px; min-width: 16px; max-width: 32px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance10 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_row_16 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: 0px; float: left; padding-bottom: 15px; }
#wb_cs_col_17 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_17:first-child { margin-top: 0px; }
#wb_element_instance12 { z-index: 534; min-height: 24px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance12 p:last-child { margin-bottom: 0; }
#wb_element_instance13 { z-index: 9000; }
#wb_element_instance14 { z-index: 9999; }


@media (min-width: 768px) {
	.root > div { padding-left: 20px; padding-right: 20px; }
	#wb_cs_row_12 { padding-top: 30px; padding-bottom: 30px; padding-left: 41.155866900175%; padding-right: 2.4518388791594%; }
	#wb_cs_col_13 { max-width: 1190px; min-width: 119px; width: 84.757834757835%; margin-left: 0.0%; }
	#wb_element_instance9 { margin-top: 0px; }
	#wb_element_instance9 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance9 .btn-collapser { display: none; }
	#wb_element_instance9 > ul { display: block; }
	#wb_cs_col_15 { max-width: 69.763975155279px; margin-top: 5px; min-width: 6.9763975155279px; width: 4.9689440993789%; margin-right: 0.0%; }
	#wb_cs_col_15:first-child { margin-top: 5px; }
	#wb_element_instance11 { margin-top: 0px; }
	#wb_cs_col_14 { max-width: 69.763975155279px; margin-top: 5px; min-width: 6.9763975155279px; width: 4.9689440993789%; margin-right: 3.167524%; }
	#wb_cs_col_14:first-child { margin-top: 5px; }
	#wb_element_instance10 { margin-top: 0px; }
	#wb_cs_row_16 { padding-bottom: 56px; padding-left: 2.6269702276708%; padding-right: 46.409807355517%; }
	#wb_cs_col_17 { max-width: 1280px; }
	#wb_element_instance12 { margin-top: 0px; }
	#wb_main { min-height: 50px; }
}

@media (min-width: 992px) {
	.root > div { padding-left: 30px; padding-right: 30px; }
	#wb_element_instance9 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance9 .btn-collapser { display: none; }
	#wb_element_instance9 > ul { display: block; }
}

@media (min-width: 1200px) {
	.root { max-width: 1860px; }
	.root > div { padding-left: 40px; padding-right: 40px; }
	#wb_element_instance9 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance9 .btn-collapser { display: none; }
	#wb_element_instance9 > ul { display: block; }
	#wb_element_instance13 { left: 0px; top: 20px; display: block; }
	#wb_element_instance14 { left: 0px; top: 44px; display: block; }
}
