#wb_header { background: transparent none repeat scroll left top; }
#wb_main { background: transparent none repeat-x scroll left top; padding-bottom: 50px; }
#wb_footer { background: transparent none repeat-x scroll left top; }
body { background: #242324 url("../img/moscow2.jpg") no-repeat scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/be3a40a9d8458ff2e7967eca62804159.jpg") repeat-x scroll center top; }
body, .wb_sbg { min-width: 100%; min-height: 100%; }
.root { box-sizing: border-box; width: 100%; }
.root > div { padding-left: 15px; padding-right: 15px; }
#wb_cs_row_1 { padding-left: 0; padding-right: 0; padding-top: 15px; margin-top: 0px; float: left; padding-bottom: 15px; }
#wb_cs_col_2 { width: 61.787750765681%; margin-left: auto; margin-right: auto; margin-top: 0px; }
#wb_cs_col_2:first-child { margin-top: 0px; }
#wb_element_instance4 { z-index: 512; min-height: 24px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 28.344023911072%; }
#wb_element_instance4 p:last-child { margin-bottom: 0; }
#wb_cs_col_5 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_5:first-child { margin-top: 0; }
#wb_element_instance2 { z-index: 524; height: auto; min-height: 1px; min-width: 16px; max-width: 32px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance2 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_col_4 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; }
#wb_cs_col_4:first-child { margin-top: 0; }
#wb_element_instance1 { z-index: 525; height: auto; min-height: 1px; min-width: 16px; max-width: 32px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance1 img { width: 100%; height: auto; position: static; left: 0px; top: 0px; display: block; }
#wb_cs_col_3 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; max-width: 40px; min-width: 40px; }
#wb_cs_col_3:first-child { margin-top: 0; }
#wb_element_instance0 { z-index: 535; min-height: 40px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance0 .btn-collapser { display: inline-block; margin-top: 5.5px; background-color: #ededed; border-color: #ffffff; }
#wb_element_instance0.collapse-expanded > ul { position: fixed; left: 0px; width: 100%; display: block; float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance0 .btn-collapser > .icon-bar { background-color: #ffffff; }
#wb_element_instance0 .btn-collapser:hover { background-color: #ededed; border-color: #ff0900; }
#wb_element_instance0 .btn-collapser:hover > .icon-bar { background-color: #ff0900; }
#wb_element_instance0 ul { background: #ededed none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance0 > ul { display: none; }
#wb_element_instance0.collapse-expanded > ul > li { display: block; }
#wb_element_instance0.collapse-expanded li > ul { position: static; }
#wb_element_instance0.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance0.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: #ffe100 none repeat scroll left top; }
#wb_element_instance0 li { margin: 0px 10px 0px 10px; }
#wb_element_instance0 li a { text-transform: none; border: 0px none #000000; padding: 10px 5px 10px 5px; font: normal normal 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ffffff; line-height: 20px; background: transparent none repeat scroll left top; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal normal 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ff0900; line-height: 20px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal normal 18px Arial,Helvetica,sans-serif; text-decoration: none; color: #ff0900; line-height: 20px; background: transparent none no-repeat scroll center bottom; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_cs_row_6 { padding-left: 0; padding-right: 0; padding-top: 0px; margin-top: 0px; float: left; padding-bottom: 15px; }
#wb_cs_col_7 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 0px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_7:first-child { margin-top: 0px; }
#wb_element_instance3 { z-index: 534; min-height: 24px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_cs_row_8 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_9 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_9:first-child { margin-top: 0; }
#wb_element_instance6 { z-index: 425; min-height: 24px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance6 p:last-child { margin-bottom: 0; }
#wb_cs_row_10 { padding-left: 0; padding-right: 0; padding-top: 15px; padding-bottom: 0px; }
#wb_cs_col_11 { width: 100%; margin-left: auto; margin-right: auto; margin-top: 15px; padding-left: 0px; padding-right: 0px; }
#wb_cs_col_11:first-child { margin-top: 0; }
#wb_element_instance5 { z-index: 424; min-height: 24px; margin-left: auto; margin-right: auto; margin-top: 0px; width: 100%; }
#wb_element_instance5 p:last-child { margin-bottom: 0; }
#wb_element_instance7 { z-index: 9000; }
#wb_element_instance8 { z-index: 9999; }


@media (min-width: 768px) {
	.root > div { padding-left: 20px; padding-right: 20px; }
	#wb_cs_row_1 { padding-top: 30px; padding-bottom: 30px; padding-left: 2.5862068965517%; padding-right: 2.4137931034483%; }
	#wb_cs_col_2 { max-width: 541.23222748815px; min-width: 54.123222748815px; width: 23.696682464455%; margin-left: 0.0%; }
	#wb_element_instance4 { margin-top: 0px; width: 100%; }
	#wb_cs_col_5 { max-width: 86.597156398104px; margin-top: 5px; min-width: 8.6597156398104px; width: 3.7914691943128%; margin-right: 0.0%; }
	#wb_cs_col_5:first-child { margin-top: 5px; }
	#wb_element_instance2 { margin-top: 0px; }
	#wb_cs_col_4 { max-width: 86.597156398104px; margin-top: 5px; min-width: 8.6597156398104px; width: 3.7914691943128%; margin-right: 0.473103%; }
	#wb_cs_col_4:first-child { margin-top: 5px; }
	#wb_element_instance1 { margin-top: 0px; }
	#wb_cs_col_3 { max-width: 1190px; margin-top: 0px; min-width: 119px; width: 52.101576182137%; margin-right: 1.313484%; }
	#wb_cs_col_3:first-child { margin-top: 0px; }
	#wb_element_instance0 { margin-top: 0px; }
	#wb_element_instance0 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_cs_row_6 { padding-bottom: 56px; padding-left: 2.5862068965517%; padding-right: 45.689655172414%; }
	#wb_cs_col_7 { max-width: 1280px; }
	#wb_element_instance3 { margin-top: 0px; }
	#wb_cs_row_8 { padding-top: 230px; padding-left: 12.068965517241%; padding-right: 8.6206896551724%; }
	#wb_cs_col_9 { max-width: 1920px; margin-top: 0px; }
	#wb_cs_col_9:first-child { margin-top: 0px; }
	#wb_element_instance6 { margin-top: 0px; }
	#wb_cs_row_10 { padding-top: 347px; padding-left: 2.5862068965517%; padding-right: 0.86206896551724%; }
	#wb_cs_col_11 { max-width: 2320px; margin-top: 0px; }
	#wb_cs_col_11:first-child { margin-top: 0px; }
	#wb_element_instance5 { margin-top: 0px; }
}

@media (min-width: 992px) {
	.root > div { padding-left: 30px; padding-right: 30px; }
	#wb_element_instance0 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
}

@media (min-width: 1200px) {
	.root { max-width: 1860px; }
	.root > div { padding-left: 40px; padding-right: 40px; }
	#wb_element_instance0 ul { background: transparent none repeat scroll left top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance7 { left: 0px; top: 967px; display: block; }
	#wb_element_instance8 { left: 0px; top: 44px; display: block; }
}
